/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
    font-family: 'Cabin Sketch', cursive;
    font-size: 150%;
    color: #fff !important;
    background-color: black;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}


/*.overlay {
    height: 100vh;
}*/

.c_banner_left {
    padding-top: 7% !important;
}

.c_banner_left img {
    max-height: 450px;
}

.c_banner_right {
    padding-top: 15% !important;
}




/* The typing effect */

@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}

.myimg-circle {
    height: 150px;
    width: 150px;
    border: 2px solid white;
    border-radius: 50%;
}

.mybtn {
    border: 2px solid white;
    visibility: hidden;
}

.mybttn {
    border: 2px solid black;
}


#main_title {
    display: inline;
    font-size: 5.5em;
}

#sub_title {
    display: inline;
    font-size: 1.5em;
}

.typed-cursor {
    font-size: 1.5em;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#particles-js {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.mybtn-circle {
    width: 120px !important;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100% !important;
    font-size: 35px;
    color: white;
    background: transparent;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.mybtn-circle:hover,
.btn-circle:focus {
    outline: none;
    color: white;
    background: rgba(255, 255, 255, 0.1);
}

.mybtn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.mybtn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.caps
{
    text-transform: capitalize;
}